<%- include('./includes/head.ejs') %> 
<%- include('./includes/navbar.ejs') %> 


<div class="container-fluid bg-header">
    <div class="row  p-5  bg-header-row"  >
        <div class="col-md-5 m-auto text-center pt-5">
            <h3 class="heading text-green font-weight-bold"> כיצד דירוג וחיווי האשראי משפיעים בקבלת משכנתא? </h3>
            <p class="text-white"> דף הבית » כיצד דירוג וחיווי האשראי משפיעים בקבלת משכנתא? </p>
        </div>
    </div>
</div>


<div class="container-fluid p-5" style="background-color: #f6f4f7;">
    <div class="row justify-content-around text-right" dir="rtl">
        <div class="col-md-7 ">
            <div class="bg-white bg-white my-2 p-3">
            <h2 class=" font-weight-bold text-green"> כיצד דירוג וחיווי האשראי משפיעים בקבלת משכנתא? </h2>
            <p>על אף שנדמה כי משכנתא היא פתרון מימון בסיסי שיש כמעט לכל משפחה ישראלית, בפועל רבים מתמודדים עם קשיים בקבלת ההלוואה הגדולה והחשובה כל כך. יכולות להיות לכך סיבות שונות, לרבות היעדר הון עצמי מספק או חוסר יציבות תעסוקתית שמעורר דאגה ביחס ליכולת הכלכלית של הלקוח לאורך זמן. אלא שיש עוד סיבה אחת משמעותית שעשויה להסביר את סירובו של הבנק: דירוג האשראי של הלקוח. אם אתם לא לגמרי בטוחים  מה זה דירוג אשראי, מה ההבדל בינו לבין חיווי אשראי או איך דירוג וחיווי האשראי משפיעים בקבלת משכנתא, התשובות לפניכם.</p>

            <br><br><br>
            <h2 class=" font-weight-bold text-green"> ההבדל בין דירוג אשראי לחיווי אשראי</h2>
            <p>לפני הכול כדאי להבחין בין דירוג אשראי לחיווי אשראי, שני מושגים שנשמעים לכאורה זהים אך בפועל ניתן לזהות הבדלים ברורים בין השניים. הראשון, דירוג אשראי, הוא למעשה ריכוז של נתוני האשראי כפי שהם מופיעים במערכת הנתונים של בנק ישראל. השני, חיווי אשראי, הוא שירות שנועד להעריך את רמת הסיכון הנלווית למתן פתרונות אשראי ללקוח כזה או אחר (עסקי או פרטי) וכן למתן הלוואת משכנתא. במקרה הזה מתקבלת המלצה אחת פשוטה: להעניק פתרון מימון, או לא.</p>

            <br><br><br>
            <h2 class=" font-weight-bold text-green"> חיווי אשראי שלילי והלוואת המשכנתא שלך </h2>
            <p>כאמור, חיווי אשראי מבוסס על המידע בדירוג האשראי של בנק ישראל, וטרם ההחלטה האם להעניק משכנתא או לא, רשאי הבנק (או כל ספק אשראי אחר) לבקש את המידע. למעשה, חיווי אשראי ניתן לקבל גם ללא אישורכם, שכן מדובר על המלצה כללית בלבד. במקביל, דירוג האשראי מסייע לבנק לקבוע את תנאי ההלוואה ובפרט את גובה הריבית. עם זאת, מאחר והדירוג כולל נתונים שמתקבלים מגופים שונים, בהחלט עשויות להתגלות טעויות. מחוב שנפרע אך לא עודכן במערכת, ועד להגבלה על החשבון שהסתיימה לפני זמן רב מדי, מומלץ להזמין דו”ח ריכוז נתוני אשראי כדי לבצע בדיקה מעמיקה. את הדו”ח ניתן להזמין פעם בשנה ללא כל עלות, ובמידה ואכן התגלו טעויות – ניתן לפנות אל מערכת הדירוג בבקשה לתיקון המידע.</p>

            <br><br><br>
            <h2 class=" font-weight-bold text-green"> הבנק סירב לתת לך משכנתא? יש פתרון </h2>
            <p>במקרים שבהם הבנק מסרב לבקשת המשכנתא כדאי לזכור שיש מה לעשות, ואת הגזירה הזו ניתן לשנות. לאחר שזיהינו את ההשפעה של דירוג האשראי וחיווי האשראי על החלטת הבנק ועל התנאים המוצעים, צוות המומחים של BIO CREDIT יסייע לכם בבחינת דו”ח הנתונים. כך ניתן לאתר טעויות ונתונים שאינם עדכניים, ולקבוע תוכנית לשיפור ההתנהלות הכלכלית לצורך שיפור הדירוג לאורך זמן. עבודה נכונה יכולה לחסוך לך לא מעט טעויות, הרבה מאוד כסף ובעיקר אנרגיות לא מבוטלות. זוהי ההזדמנות שלך להכיר היטב את דירוג האשראי שלך ולפעול כדי לשפר את המצב, להעלות את הדירוג ולקבל פתרונות מימון ומשכנתא בתנאים טובים הרבה יותר.</p>
           </div>
            

            <div class="">

              <div class="bg-white p-3">
              
              <h3 class="font-weight-bold">Comments  <%= length %> <hr></h3>
              <% user.forEach(function(user){ %>
               
                <div class="p-4 bg-white my-2 inner">
                    <h5 class="comment-name"><%= user.name %></h5>
                    <img src="img/user.png" alt="" class="img-fluid comment-img">
                    <span id="date" class="text-muted date" ><%= user.date %></span>
                    <br>
                    <p><%= user.comment %></p>
                    <hr>
                </div>
               
                <% }); %>

              </div>
            </div>






            
            <!-- =============== FORM INPUT  =============== -->
            <div class="p-4 bg-white my-5">
                <form action="/comment" method="post"  class="php-email-form ">
                    <h4 class="text-right font-weight-bold">Leave a Reply <hr></h4>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="name" >Name </label>
                        <input type="text" name="name" dir="rtl" class="form-control text-right" id="name" placeholder="הכנס/י שם מלא.."  required />
                        <div class="validate"></div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email" >Email</label>
                        <input type="email" class="form-control text-right"  dir="rtl" name="email" placeholder="הכנס/י אמייל.." id="email" data-rule="email" data-msg="Please enter a valid email" required />
                        <div class="validate"></div>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="website">Website</label>
                      <input type="text" class="form-control text-right"   dir="rtl" name="website" id="website"  placeholder="הכנס/י טלפון.." data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                      <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="message" >Message</label>
                      <textarea class="form-control text-right " id="message" name="message"  dir="rtl" placeholder="הכנס/י הודעה.." rows="4" data-rule="required" data-msg="Please write something for us" required></textarea>
                      <div class="validate"></div>
                    </div>
                    <div class="col-6 text-center m-auto">
                     <button  type="submit" class="btn btn-primary btn-style btn-block text-center " >Send </button>
                    </div>
                  </form>
            </div>
        </div>

        <div class="col-md-4  my-2">
            <div class="bg-white p-3">
            <h2 class=" font-weight-bold text-green">מי הם BDI ו- D&B</h2>
            <p>מי הם BDI ו- D&B ברור וידוע לכל כי הבנקים וספקי האשראי בישראל מקבלים מידע פיננסי על לקוחות פרטיים, וזאת במטרה להעריך באופן אופטימלי את הסיכונים הנלווים למתן פתרונות אשראי ומימון. לקבלת המידע פונים גופים פיננסיים אלה אל לשכות האשראי BDI או D&B. המידע המוצג על ידי לשכות אשראי אלה משקף את היכולת של האדם</p>
            <div class="col-3">
                
            </div>
        </div>
        </div>
    </div>

    
</div>









<%- include('./includes/footer.ejs') %> 